{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Vigenère Cipher</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <br>
<div class="back-wrapper">
    <button class="back-btn" onclick="history.back()">
    ← Go Back
</button>
</div>
<div class="container">

    <h1 style="text-align:center;">
        Vigenère Cipher
    </h1>

    <!-- ============ INTRO ============ -->
    <div class="card intro-card">

        <h2>Introduction</h2>

        <p>
            Vigenère cipher is a polyalphabetic substitution cipher.<br>
            It uses a keyword where each letter represents a shift value.<br>
            The keyword repeats to match the plaintext length.<br>
        </p>
 <div class="intro-images">
                <img src="{% static 'images/vig.webp' %}" alt="Caesar Wheel" width="100" height="300">
                
            </div>
        <div class="box input-text">
        <p>
            Example:<br>
            Plaintext = HELLO <br>
            Keyword = KEY <br>
            Ciphertext = RIJVS <br>
        </p>
        </div>

    </div>

    <!-- ============ LAB ============ -->
    <div class="card">

        <h2>Practice Lab</h2>

        <div class="box input-text">
            <label>Plaintext</label>
            <input type="text" id="plaintext" placeholder="enter text to try it!"  oninput="showVigenereAlignment()" class="box input-text" >
        
            <label>Keyword</label>
            <input type="text" id="keyword" placeholder="enter keyword" oninput="showVigenereAlignment()" class="box input-text">
       
            <button onclick="encryptVigenere()" class="btn">Encrypt</button>
            <button onclick="decryptVigenere()" class="btn">Decrypt</button>
        </div>

        <div class="box input-text">
            <label>Ciphertext</label>
            <input type="text" id="ciphertext" class="box input-text" readonly>
       
            <label>Decrypted Text</label>
            <input type="text" id="decryptedtext" class="box input-text" readonly>

        </div>
        <div class="box input-text" style="margin-top:15px;">
    <h3>Vigenère Cipheralpha Alighnmnet</h3>
    <p id="keywordHint" style="font-size:14px; opacity:0.7;">
    Start typing a keyword to see the alignment.
</p>
    <div id="vigenereDisplay"
     style="font-family: monospace; white-space: pre; display:none;"></div>
</div>
        <div class="box input_text">
            <button onclick="stepVigenere()" class="btn">Step by Step</button>

<div id="stepsBox" class="box input-text" style="margin-top:15px; display:none;">
    <h3>Step by Step Trace</h3>
    <div id="stepsOutput"></div>
</div>
        </div>
    </div>

</div>

<script src="{% static 'js/vigenere.js' %}"></script>
</body>
</html>