{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{{ lesson.title }} Quizzes</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

<br>
<div class="back-wrapper">
<a href="{% url 'quiz_list' %}" class="back-btn">
← Go Back
</a>
</div>

<div class="container">

<h1>{{ lesson.title }} Quizzes</h1>

<div class="card">

{% for quiz in quizzes %}

<div class="box">

<h3>{{ quiz.level|title }}</h3>

{% if quiz.level == "beginner" %}

    {% if beginner_passed %}
        <p style="color:#4ade80;">✔ Completed</p>
    {% else %}
        <a href="{% url 'take_quiz' quiz.id %}" class="btn">Start Quiz</a>
    {% endif %}

{% elif quiz.level == "intermediate" %}

    {% if intermediate_passed %}
        <p style="color:#4ade80;">✔ Completed</p>
    {% elif beginner_passed %}
        <a href="{% url 'take_quiz' quiz.id %}" class="btn">Start Quiz</a>
    {% else %}
        <p style="color:#f87171;">🔒 Locked</p>
    {% endif %}

{% elif quiz.level == "advanced" %}

    {% if advanced_passed %}
        <p style="color:#4ade80;">✔ Completed</p>
    {% elif intermediate_passed %}
        <a href="{% url 'take_quiz' quiz.id %}" class="btn">Start Quiz</a>
    {% else %}
        <p style="color:#f87171;">🔒 Locked</p>
    {% endif %}

{% endif %}

</div>

{% endfor %}

</div>

</div>

</body>
</html>